<?xml version="1.0" encoding="utf-8"?>
<!--
This configuration file is required if iisnode is used to run node processes behind
IIS or IIS Express.  For more information, visit:

https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
    <system.webServer>
        <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
        <handlers>
            <!-- Indicates that the app.js file is a node.js site to be handled by the iisnode module -->
            <add name="iisnode-socketio" path="app.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="SocketIO" patternSyntax="ECMAScript">
                    <match url="socket.io.+" />
                    <action type="Rewrite" url="app.js"/>
                </rule>


                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!--&lt;!&ndash; All other URLs are mapped to the node.js site entry point &ndash;&gt;-->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="app.js"/>
                </rule>

                <rule name="Force redirect to https">
                    <match url="(.*)"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern=".+\.azurewebsites\.net$" />
                        <add input="{HTTPS}" pattern="Off"/>
                        <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="false"/>
    </system.webServer>
</configuration>